@model StaffShifts.Models.t_PTLStaff_Master_Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_PTLStaff_Master_Data</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_PTLStaff_Master_DataCodes.DataCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_PTLStaff_Master_DataCodes.DataCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
